.abs{
    position: relative;
    background-color: #000;
    left: 0;
    right: 0;
    z-index: -1;
}
.Container{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 70vh;
    color: #fff;
    border-radius: 10%;
    margin-top: 10%;
    z-index: 2;
}

.ContainerInfo{
    margin-left: 10%;
    z-index: 3;
}
@media (max-width: 701px)  {
    .Container {
        flex-direction: column;
        display: flex;
        justify-content: center;
        grid-template-columns: repeat(1, 50%);
    }
    
  }

  @media (max-width: 500px)  {
    .Container {
        flex-direction: column;
        display: flex;
        justify-content: center;
        grid-template-columns: repeat(1, 50%);
    }
    
  }

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

@keyframes moveStars {
    0% {transform: translate(0, 0);}
    50% {transform: translate(1vw, 1vh);}
    100% { ransform: translate(0, 0);}
}

.starsContainer{
    position: absolute;
    top: 0;
    left: -100px;
    right: 0;
    bottom: 0;
    --space-layer: 4vw 50vh 0 #fff,
    8vw 88vh 0 #fff;
    width: var(--size);
    height: var(--size);
    background-color: #fff;
    box-shadow: var(--space-layer);
    opacity: 0.40;
    z-index: -1;
    animation: blink 1s infinite, moveStars 10s infinite;
  }

