
.bubbleContainer {
  min-height: 100%;
  position: relative;
  z-index: 5;
  width: 100vw;
  height: 100vh;

}

@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0.5;}
  100% {opacity: 1;}
}

@keyframes moveStars {
  0% {transform: translate(0, 0) scale(1);}
  50% {transform: translate(1vw, 1vh) scale(1.5) ;}
  100% { transform: translate(0, 0) scale(1);}
}

.starsContainer{
  position: absolute;
  top: 0;
  left: 0;
  --size:1px;
  width: var(--size);
  height: var(--size);
  background-color: currentColor;
  box-shadow: var(--space-layer);
  opacity: 0.40;
  z-index: -1;
  animation: blink 1s infinite, moveStars 10s infinite;
}

